build --color=yes

# always enable platform-based toolchain resolution:
build --incompatible_enable_cc_toolchain_resolution

common:yydebug --//bootstrap:yydebug
# common:yydebug --//bootstrap:yydebug-exit-on-error
common:yydebug --//bootstrap:yytrace
common:yydebug --//bootstrap:lexdebug

# fpf = filtered-package-formula
# common:yydebug --//bootstrap:yydebug-rules=fpf
# common:yydebug --//bootstrap:lexdebug-rules=fpf

# fvf = filtered-version-formula
# common:yydebug --//bootstrap:yydebug-rules=fvf
# common:yydebug --//bootstrap:lexdebug-rules=fvf

# common:yydebug --//bootstrap:yydebug-rules=filter
# common:yydebug --//bootstrap:lexdebug-rules=filter

# common:yydebug --//bootstrap:lexdebug-rules=version

common:yydebug --//bootstrap:yydebug-rules=build-filter
common:yydebug --//bootstrap:lexdebug-rules=build-filter

try-import .private/bazelrc
